*{
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-family: 'Orbitron',sans-serif;
}

.calc {
  width: 324px;
  margin: auto;
  background-color: pink;
  padding: 20px;
  border-radius: 8px;
}

.calc-display{
    width: 100px;
    height: 75px;
    border: none;
    background-color:rgb(248, 248, 127);
    margin-bottom: 10px;
    border-radius: 8px;
}
input[type=button]{
    width: 75px;
    height:75px;
    margin: 2px;
    color: powderblue;
    border: none;
    border-radius: 8px;
    background-color: #58595b;
}